<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="GZIP Content-Type" preCondition="Has Original" enabled="true">
                    <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
                    <action type="Rewrite" value="{ORIGINAL_CONTENT_TYPE}" />
                </rule>
                <rule name="GZIP Content-Encoding" preCondition="Has Original">
                    <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern="(.*)" />
                    <action type="Rewrite" value="gzip" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                    <preCondition name="GZIP">
                        <add input="{RESPONSE_CONTENT_ENCODING}" pattern="^gzip$" />
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/x-gzip$" />
                    </preCondition>
                    <preCondition name="Has Original">
                        <add input="{ORIGINAL_CONTENT_TYPE}" pattern="(.+)" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <clear />
                <rule name="GZIP Redirect" stopProcessing="true">
                    <match url="^(.*)\.gz$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="GZIP - .log">
                    <match url="^.+\/.+\.log$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="ORIGINAL_CONTENT_TYPE" value="text/plain" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}.gz" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="GZIP - .html">
                    <match url="^.+\/.+\.html$" />
                    <serverVariables>
                        <set name="ORIGINAL_CONTENT_TYPE" value="text/html" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}.gz" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="GZIP - .json">
                    <match url="^.+\/.+\.json$" />
                    <serverVariables>
                        <set name="ORIGINAL_CONTENT_TYPE" value="application/json" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}.gz" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="GZIP - .csv">
                    <match url="^.+\/.+\.csv$" />
                    <serverVariables>
                        <set name="ORIGINAL_CONTENT_TYPE" value="application/octet-stream" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}.gz" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="GZIP - .png">
                    <match url="^.+\/.+\.png$" />
                    <serverVariables>
                        <set name="ORIGINAL_CONTENT_TYPE" value="image/png" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:0}.gz" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
